body {
  background-color: #222;
  color: var(--text-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(10px + 1vw);
  line-height: calc(1.1em + 0.5vw);
  margin: 0 auto;
  max-width: 600px;
  min-width: 500px;
  width: 100%;
}

:any-link {
  color: var(--secondary-color);
}

.btn {
  background-color: var(--subtle-bg-color);
  border-color: #bbb;
  border-radius: 4px;
  border-width: 2px;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.4em 0.6em;
}

.btn:focus {
  outline: none;
}

.btn--primary {
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-color);
}

.btn--danger {
  background-color: var(--danger-bg-color);
  border-color: var(--danger-color);
  color: var(--danger-color);
  float: right;
}
