:root {
  --danger-color: #f36666;
  --danger-bg-color: #5f0000;
  --disabled-color: #3a3a3a;
  --divider-color: #999;
  --primary-color: #ff77cc;
  --secondary-color: #77aaff;
  --secondary-bg-color: #3f3f99;
  --text-color: #eee;
  --subtle-text-color: #bbb;
  --subtle-bg-color: #444;
  --spacing: 0.5em;
}

body {
  background-color: #222;
  color: var(--text-color);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: calc(10px + 1vw);
  line-height: calc(1.1em + 0.5vw);
  margin: 0 auto;
  max-width: 600px;
  min-width: 500px;
  width: 100%;
}

:any-link {
  color: var(--secondary-color);
}

.btn {
  background-color: var(--subtle-bg-color);
  border-color: #bbb;
  border-radius: 4px;
  border-width: 2px;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.4em 0.6em;
}

.btn:focus {
  outline: none;
}

.btn--primary {
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-color);
}

.btn--danger {
  background-color: var(--danger-bg-color);
  border-color: var(--danger-color);
  color: var(--danger-color);
  float: right;
}

.app__nav {
  background-color: #444;
  display: flex;
  justify-content: space-around;
  padding-top: calc(2 * var(--spacing));
  padding-bottom: var(--spacing);
}

.app__nav :any-link {
  text-decoration: none;
}

.app__permissions {
  background-color: #555;
  display: flex;
  flex-direction: column;
}

.app__permissions button {
  background-color: var(--primary-color);
  color: var(--danger-bg-color);
  padding: calc(2 * var(--spacing));
  width: 100%;
}

.app__permissions p {
  margin: var(--spacing);
}

.app__tab {
  border-bottom: var(--spacing) solid transparent;
  color: var(--subtle-text-color);
  display: inline-block;
  font-size: 1.2em;
  outline: none;
  padding: var(--spacing);
}

.app__tab--active {
  border-bottom-color: var(--primary-color);
  color: var(--secondary-color);
}
